# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
**/.idea/
*.iml
*.iws
*.ipr

# Virtualenv
venv/
ENV/
env/
.venv/
.env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# Test logs and output
tests/__pycache__/
tests/.pytest_cache/
tests/.tox/
.coverage
coverage/
*.cover
*.log
*.pytest_cache/
.tox/

# Pytest cache
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover

# PyCharm security folder
Zscan_sim_python/.idea/security.xml

# System files
.DS_Store
Thumbs.db
